* img, * svg * video {
  vertical-align: middle !important;
}

.section1 {
  position: relative;
  display: block;
  align-items: center;
  min-height: 250vh;
}
.section1 .sticky {
  position: sticky;
  display: flex;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  overflow: hidden;
}
.section1 .playground-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.section1 .playground-container .play-text {
  display: inline-flex;
  justify-content: flex-start;
}
.section1 .playground-container .ground {
  display: inline-flex;
  justify-content: flex-end;
}
.section1 .playground-container .ground nav {
  position: relative;
  display: flex;
  align-items: center;
  width: 150px;
  margin: 0 10px;
  padding-top: 6%;
}
.section1 .playground-container .ground nav img {
  position: relative;
  width: 100%;
}
.section1 .playground-container .ground p {
  line-height: 1;
}
.section1 .playground-container .head {
  font-family: FontHead;
  font-size: 250px;
  margin: 0px;
  text-transform: none;
  text-shadow: 3px 0px 20px var(--b);
  z-index: calc(100 - var(--i));
}
.section1 .playground-container .head.y {
  margin-left: -15px;
}
.section1 .text {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  width: 450px;
  z-index: 99;
}
.section1 .text p {
  margin: 0;
}
.section1 .text p span {
  color: var(--gr);
}

.section2 {
  position: relative;
  display: block;
  width: 100vw;
  margin-top: 50px;
}
.section2 .sticky-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.section2 .sticky-container .sticky-text {
  position: sticky;
  top: -1px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.section2 .sticky-container .sticky-text .content-container {
  --h: 180px;
  height: var(--h);
  overflow: hidden;
}
.section2 .sticky-container .sticky-text .content-container .marquee-container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.section2 .sticky-container .sticky-text .content-container .marquee-container .marquee-content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc(var(--h) / 3);
  padding-right: calc(var(--h) / 3);
}
.section2 .sticky-container .sticky-text .content-container p {
  position: relative;
  font-family: FontHead;
  font-size: var(--h);
  margin-top: calc(var(--h) * -0.25);
  margin-bottom: calc(var(--h) * -0.25);
  white-space: nowrap;
}
.section2 .sticky-container .sticky-text .fill-text {
  color: var(--b);
}
.section2 .sticky-container .sticky-text .stroke-text {
  color: var(--t);
  text-shadow: 1px 0px var(--b), 1px 1px var(--b), 0px 1px var(--b), -1px 1px var(--b), -1px 0px var(--b), -1px -1px var(--b), 0px -1px var(--b), 1px -1px var(--b);
}
.section2 .sticky-container .sticky-text .time-text {
  position: relative;
  --time: calc(var(--h)/2);
  height: var(--time);
  color: var(--b);
  margin-top: 20px;
  overflow: visible;
}
.section2 .sticky-container .sticky-text .time-text .text-container {
  position: relative;
  display: block;
}
.section2 .sticky-container .sticky-text .time-text .text-container .text {
  position: absolute;
  top: 0;
  display: block;
  padding-left: 5vw;
  overflow: hidden;
}
.section2 .sticky-container .sticky-text .time-text .text-container .text p {
  font-size: var(--time);
  margin: 0;
}
.section2 .sticky-container .sticky-text .time-text .text-container .text:nth-of-type(2n-1) {
  right: 0;
  padding-left: 0;
  padding-right: 5vw;
}
.section2 .thumb-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 90vh;
  padding-bottom: 20vh;
}
.section2 .thumb-container .content {
  position: relative;
  width: 55%;
  min-width: 400px;
}
.section2 .thumb-container .content a {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
}
.section2 .thumb-container .content a video, .section2 .thumb-container .content a img {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.section2 .thumb-container .content:nth-of-type(2n) {
  margin-left: auto;
}
.section2 .thumb-container .content span.distance {
  position: relative;
  display: block;
  height: 600px;
}
