* {
  --y: #e0d8b0;
  text-transform: uppercase !important;
}

@font-face {
  font-family: FontLogoSavour;
  src: url(../fonts/Harmond-ExtraBoldExpanded.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: FontTextSavour;
  src: url(../fonts/Futura-Book.ttf);
  font-weight: normal;
  font-style: normal;
}
* {
  --radius: 20px;
}

.section1 .big-logo {
  text-align: center;
  text-transform: none;
}
.section1 .big-logo h1 {
  font-family: FontLogoSavour;
  text-transform: none !important;
  color: transparent;
  font-size: 22vw;
  margin: 0;
  line-height: 1;
  background: url(../imgs/reel1.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 160%;
  background-position: center 800px;
  background-attachment: fixed;
}
.section1 .under-logo {
  display: flex;
  color: var(--y);
}
.section1 .under-logo .left, .section1 .under-logo .right {
  width: 100%;
}
.section1 .under-logo .left .name, .section1 .under-logo .right .name {
  font-weight: bold;
}
.section1 .under-logo p {
  margin: 0;
  font-size: 18px;
}

.section2 {
  overflow: hidden;
  position: relative;
  width: 100vw;
  padding-top: 400px;
}
.section2 .container {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
  padding-bottom: 200px;
}
.section2 .container .image {
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% -50%;
}
.section2 .container .image img {
  width: 100%;
}
.section2 .container .image1 {
  width: 28.5vw;
  top: 100px;
  left: 51.5%;
}
.section2 .container .image2 {
  width: 23vw;
  top: 0px;
  left: 32%;
}
.section2 .container .image3 {
  width: 15vw;
  top: 40px;
  left: 72%;
}
.section2 .container .image4 {
  width: 18vw;
  top: 480px;
  left: auto;
  right: 0;
  translate: 30px -50%;
  filter: brightness(0.5);
}
.section2 .container .image5 {
  width: 23vw;
  top: 800px;
  left: 0;
  translate: -15px -50%;
}
.section2 .text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 500px;
  z-index: 10;
  justify-content: center;
  color: var(--y);
  padding-bottom: 50px;
  text-align: center;
  align-items: center;
}
.section2 .text .head {
  font-family: FontTextSavour;
  font-size: 12px;
}
.section2 .text p {
  max-width: 650px;
}
.section2 .text p span {
  font-family: FontLogoSavour !important;
  text-transform: none !important;
}

.section3 {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 250px 17%;
}
.section3 video {
  border-radius: var(--radius);
  outline: solid 5px var(--y);
  outline-offset: -2px;
  width: 100%;
}

.section4 {
  padding: 112px 0px;
}
.section4 img {
  border-radius: 0 var(--radius) var(--radius) 0;
  width: 58.3vw;
}

.section5 {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 16/11;
  background: url(./../imgs/work-savour-s5.jpeg);
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  margin-top: 300px;
  overflow: hidden;
  box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.5);
}
.section5 .phone-clipping {
  position: absolute;
  display: block;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  width: 15vw;
  aspect-ratio: 9/20;
  border-radius: var(--radius);
  outline: solid 4px var(--y);
  outline-offset: -1px;
  overflow: hidden;
  background: url(./../imgs/work-savour-s5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section5 .phone-clipping .bgcontainer {
  position: absolute;
  top: -2%;
  width: 100%;
  height: 105%;
  z-index: 1;
}
.section5 .phone-clipping .bgcontainer img {
  position: relative;
  left: 50%;
  height: 100%;
  translate: -35%;
  z-index: 1;
}
.section5 .phone-clipping .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  padding: 24px 10px 20px 10px;
  z-index: 2;
}
.section5 .phone-clipping .content .info {
  width: 100%;
  font-family: FontLogoSavour;
  color: var(--y);
}
.section5 .phone-clipping .content .info p {
  text-transform: none !important;
  font-size: 26px;
  margin: 0;
  line-height: 1;
}
.section5 .phone-clipping .content .info .age, .section5 .phone-clipping .content .info .by {
  font-family: FontTextSavour;
  font-size: 10px;
  margin-bottom: 10px;
}
.section5 .phone-clipping .content .info .landscape {
  margin-bottom: 10px;
}
.section5 .phone-clipping .content .avatar-exit {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.section5 .phone-clipping .content .avatar-exit .avatar {
  position: relative;
  align-self: flex-start;
  --size: 35px;
  width: var(--size);
  height: var(--size);
  background-color: orange;
  border-radius: 50%;
  background-image: url(./../imgs/work-savour-s5-avatar.png);
  background-position: center -5px;
  background-size: 120%;
}
.section5 .phone-clipping .content .avatar-exit .exit {
  position: relative;
  align-self: flex-start;
  --size: 24px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1.5px solid var(--y);
}
.section5 .phone-clipping .content .avatar-exit .exit nav {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 70%;
  height: 1.4px;
  border-radius: 20px;
  background-color: var(--y);
}
.section5 .phone-clipping .content .avatar-exit .exit nav:nth-of-type(1) {
  rotate: -45deg;
}
.section5 .phone-clipping .content .avatar-exit .exit nav:nth-of-type(2) {
  rotate: 45deg;
}

.section6 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 250px 17%;
}
.section6 video {
  border-radius: var(--radius);
  outline: solid 5px var(--y);
  outline-offset: -2px;
  width: 100%;
}

.section7 {
  padding-top: 300px;
  padding-bottom: 100px;
  text-align: center;
  color: var(--y);
}
.section7 p {
  max-width: 550px;
}

.section8 {
  padding: 100px 17%;
  padding-bottom: 300px;
}
.section8 .desktop-frame {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: var(--radius);
  aspect-ratio: 16/9;
  overflow: hidden;
}
.section8 .desktop-frame .left, .section8 .desktop-frame .right {
  width: 100%;
}
.section8 .desktop-frame .left {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--y);
  color: #0F0C06;
}
.section8 .desktop-frame .left .name, .section8 .desktop-frame .left .content {
  position: relative;
  display: flex;
  width: 100%;
}
.section8 .desktop-frame .left .name {
  font-family: FontTextSavour;
  justify-content: flex-end;
  flex-direction: column;
}
.section8 .desktop-frame .left .name p {
  margin: 0;
  margin-left: 1vw;
  line-height: 1;
  text-transform: none !important;
}
.section8 .desktop-frame .left .name .y {
  font-size: 0.5vw;
  margin-bottom: 4%;
}
.section8 .desktop-frame .left .name .n {
  font-family: FontLogoSavour;
  font-size: 1.6vw;
  line-height: 1;
  margin-bottom: 3%;
}
.section8 .desktop-frame .left .name .c {
  font-size: 0.5vw;
  margin-bottom: 30px;
}
.section8 .desktop-frame .left .content {
  font-family: FontTextSavour;
}
.section8 .desktop-frame .left .content .container {
  position: relative;
  display: block;
  width: 60%;
  height: 100%;
  margin-left: 15%;
  padding-top: 42.5%;
}
.section8 .desktop-frame .left .content .container .head {
  font-weight: 700;
  margin-bottom: 23px;
}
.section8 .desktop-frame .left .content .container .text {
  margin-bottom: 40px;
}
.section8 .desktop-frame .left .content .container .text p {
  text-transform: none !important;
  margin-bottom: 22px;
}
.section8 .desktop-frame .left .content .container .btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 1000px;
  border: 1px solid #0F0C06;
  font-size: 0.42vw;
  transition: all 0.3s ease-in;
}
.section8 .desktop-frame .left .content .container .btn p {
  margin: 0;
  line-height: 1;
  transition: all 0.3s ease-in;
}
.section8 .desktop-frame .left .content .container .btn:hover {
  background-color: #0F0C06;
}
.section8 .desktop-frame .left .content .container .btn:hover p {
  color: var(--y);
}
.section8 .desktop-frame .left .content p {
  font-size: 0.42vw;
  line-height: 1.65;
}
.section8 .desktop-frame .right {
  position: relative;
  display: block;
  overflow: hidden;
}
.section8 .desktop-frame .right .exit-btn {
  --size: 28px;
  position: absolute;
  top: 14px;
  right: 20px;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--y);
  z-index: 30;
  transition: all 0.3s ease-in;
}
.section8 .desktop-frame .right .exit-btn nav {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: block;
  width: 70%;
  height: 1px;
  background-color: var(--y);
}
.section8 .desktop-frame .right .exit-btn nav:nth-of-type(1) {
  rotate: -45deg;
  transition: initial;
}
.section8 .desktop-frame .right .exit-btn nav:nth-of-type(2) {
  rotate: 45deg;
  transition: initial;
}
.section8 .desktop-frame .right .exit-btn:hover {
  background: var(--y);
  transition: all 0.3s ease-out;
}
.section8 .desktop-frame .right .exit-btn:hover nav {
  background-color: #0F0C06;
}
.section8 .desktop-frame .right .exit-btn:hover nav:nth-of-type(1) {
  rotate: 45deg;
  transition: all 0.3s ease-out;
}
.section8 .desktop-frame .right .exit-btn:hover nav:nth-of-type(2) {
  rotate: 135deg;
  transition: all 0.3s ease-out;
}
.section8 .desktop-frame .right .img-container {
  display: block;
  width: 165%;
  translate: -20% -20%;
  z-index: 1;
}
.section8 .desktop-frame .right .img-container img {
  width: 100%;
  z-index: 1;
}

.section9 {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 400px;
}
.section9 .container {
  width: 60.5vw;
}
.section9 .container img {
  border-radius: var(--radius) 0 0 var(--radius);
  width: 100%;
}

.footer {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 15px;
}
.footer .bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  list-style-type: none;
}
.footer .bottom p {
  color: var(--t);
  font-size: 18px;
  text-transform: uppercase;
}

.canh {
  position: absolute;
  display: block;
  z-index: 111111111;
  width: 100%;
  opacity: 0.5;
  top: 205px;
}
.canh img {
  width: 100%;
}

.distance {
  background-color: whitesmoke;
  height: 200vh;
}
